doctype html 
html
    head
        meta(chartset='utf-8')
    body
      form(action="update_process", method="post", enctype="multipart/form-data")
        input(type="hidden", name="id", value="${project[0].title}")
        input(type="hidden", name="audioPath", value="${req.query.id}")
        p
          input(type="text", name="title", placeholder="title", value="${project[0].title}")
        p
          textarea(name="description", placeholder="description") ${project[0].description}
        input(type='file' name='userfile')
        input(type='submit')
